@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: url(https://images.pexels.com/photos/299348/pexels-photo-299348.jpeg?cs=srgb&dl=pexels-terje-sollie-299348.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
}
.ap {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding-top: 40px;
}
.menu a {
  margin: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}
.gusto {
  color: white;
  font-size: 4.7rem;
  margin: 200px;
  font-family: "Dancing Script", cursive;
}
.phone {
  color: white;
  font-size: 1.2rem;
}

.our {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.our h1 {
  text-transform: uppercase;
}
.zuraas {
  height: 3px;
  background: red;
  width: 70px;
}
.hool-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.bo {
  margin: 2px;
  width: 20%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bo img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.bo p {
  font-size: 16px;
}
.bo h3 {
  font-size: 23px;
}

.story {
  margin: 100px auto;
  display: flex;
}
.text {
  margin: 0 100px;
  text-align: left;
  padding: 80px 20px;
}
.zurag img {
  width: 1000px;
}
.story h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
}
.text p {
  margin: 20px auto;
  font-size: 1.2rem;
}

/* .menu .p {
  display: flex;
}
.breakfast {
  text-align: left;
} */
.menu-box {
  display: grid;
  grid-template-areas:
    "breakfast main"
    "dinner desert";
  margin: 50px;
  font-family: "Roboto", sans-serif;
}
.breakfast {
  grid-area: breakfast;
  margin: 60px;
}
.main {
  grid-area: main;
  margin: 60px;
}
.dinner {
  grid-area: dinner;
  margin: 60px;
}
.desert {
  grid-area: desert;
  margin: 60px;
}
.menu-box .p {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.menu-box .p h3 {
  margin-left: 40px;
}
.menu-box h2 {
  text-transform: uppercase;
  margin: 10px 0;
}
