@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: url(https://images.pexels.com/photos/299348/pexels-photo-299348.jpeg?cs=srgb&dl=pexels-terje-sollie-299348.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
}
.app {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding-top: 40px;
}
.menu a {
  margin: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}
.gusto {
  color: white;
  font-size: 4.7rem;
  margin: 200px;
  font-family: "Dancing Script", cursive;
}
.phone {
  color: white;
  font-size: 1.2rem;
}
